.menu-text {
    background-color: #1abc9c;
    text-align: center;
    padding: 80px 0;
    margin: 0;
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 16px 20px;
    text-align: center;
}

nav a.menu-left {
    float: left;
}

nav a.menu-right {
    float: right;
}

nav a:hover {
    background: #ddd;
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.left-sida {
    background-color: #f1f1f1;
    flex: calc(30% - 40px);
    padding: 16px 20px;
}

.right-sida {
    flex: calc(70% - 40px);
    padding: 16px 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 16px 20px;
    text-align: center;
}
footer a {
    color: #fff;
}

/* link table gg */
table {
    border-collapse: collapse;
    /* width: 100%; */
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04aa6d;
    color: white;
}

@media(max-wight: 800px) {
    .left-sida {
        flex: 100%;
    }
    .right-sida {
        flex: 100%;
    }
}
